@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Apply Roboto Mono font to the entire body */
body {
    font-family: 'Roboto Mono', monospace;
    background-color: ##ddd;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

blockquote {
    font-size: 25px;
    color: #333;
    margin: 20px 40px;
    border-left: 5px solid #ccc;
    padding-left: 15px;
}

#chapter1 {
    margin-bottom: 30px;
}

p {
    line-height: 1.6;
    margin-bottom: 15px;
}

em {
    color: #333;
}

.highlight {
    background-color: #D7FFA7;
}

section {
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

#response {
    padding-top: 20px;
    border-top: 2px solid #ccc;
}
