@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Apply Roboto Mono font to the entire body */
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #ddd;
    color: #333;
    margin: 0;
    padding: 150px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

#index {
    width: 60%;
    background-color: #FFFFFF;
    margin: 0 auto;
    border: 1px solid #333;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
}

#index hr {
    width: 50%;
    margin: 10px auto;
    border: 0.5px solid #333;
}

h1 {
    font-size: 70px;
    line-height: 80px;
    letter-spacing: -2px;
    margin-bottom: 20px;
}

h2 {
    font-size: 25px;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

blockquote {
    font-size: 25px;
    color: #333;
    margin: 20px 40px;
    padding-left: 15px;
}

#chapter1 {
    margin-bottom: 30px;
}

p {
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 15px;
}

em {
    color: #333;
    font-weight: 500;
}

.highlight {
    background-color: #D7FFA7;
}

section {
    padding: 10px;
    margin-bottom: 20px;
}

#response {
    padding-top: 20px;
}

.conclusion {
    background-color: rgb(254, 184, 50);
    border: 1px solid #333;
    border-radius: 10px;      
    width: 70%;              
    margin: 40px auto;           
    padding: 40px;           
 
}

.conclusion div {
    margin-bottom: 20px;
}