@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* Apply Roboto Mono font to the entire body */
body {
    font-family: 'Roboto Mono', monospace;
    background-color: #F8F7F1;
    color: #333;
    max-width: 70%;
	margin: auto;
	margin-top: 50px;
}

.article-title{
    text-align: center;
    padding: 30px;
}

h1 {
    font-size: 55px;
    line-height: 70px;
    letter-spacing: -2px;
    max-width: 757px;

}

.article-title h1 {
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse;
}

.table {
    font-size: 15px;
    border-top: 1px dotted #333;
    border-bottom: 1px dotted #333;
}

.table td:first-child {
    text-align: left;
}

.table td:last-child {
    text-align: right;
    padding: 10px 0;
}

em {
    color: #333;
    font-weight: 500;
}

article {
    padding-top: 60px;
    padding-bottom: 30px;
}

/* #index {
    width: 60%;
    background-color: #FFFFFF;
    margin: 0 auto;
    border: 1px solid #333;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 30px;
} */

/* #index hr {
    width: 50%;
    margin: 10px auto;
    border: 0.5px solid #333;
} */

#chapter1 {
    margin-bottom: 30px;
    padding: 50px 0;
}

#chapter1 p {
    margin-bottom: 0;
}

h2 {
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
}

p {
    max-width: 70%;
    font-weight: 350;
    line-height: 1.6;
    padding-top: 15px;

}

.chapter-title {
    margin: auto;
    max-width: 50%;
    text-align: center;
    padding-bottom: 50px;
}

/* Superscript not working */
.chapter-title sup {
    font-weight: 500;
    font-size: 12px;
}

.chapter-title var {
    font-size: 20px;
    font-weight: 300;
}

/* h3 {
    font-size: 20px;
    margin-bottom: 10px;
} */

.definition {
    display: block;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    align-content: center;
}

.definition a {
    text-decoration: underline;
    color: #333;
    font-weight: 500;
}

.definition a:hover {
    color: #007BFF;
}

.definition p {
    margin: auto;
}

.first-box {
    background-color:#B8C8BF;
    border-radius: 7px;      
    width: 50%;              
    margin: auto;           
    padding: 30px;           
}

.first-box p {
    max-width: 100%;
    margin-bottom: 0;
}

.first-box mark {
    background-color: #D7FFA7;
}

mark {
    background-color: #D7FFA7;
}

.right-align p {
    margin: auto;
    margin-left: 400px;
}

.right-align a {
    text-decoration: underline;
    color: #333;
    font-weight: 500;
}

.right-align a:hover {
    color: #007BFF;
}

blockquote {
    font-size: 25px;
    color: #333;
}

.first-quote, blockquote {
    text-align: center;
    max-width: 90%;
    margin: auto;
}

.first-quote p {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: auto;
}

/* .highlight {
    background-color: #D7FFA7;
} */

section {
    padding: 10px;
    margin-bottom: 20px;
}

#response {
    padding-top: 20px;
}

.conclusion {
    background-color: rgb(254, 184, 50);
    border: 1px solid #333;
    border-radius: 10px;      
    width: 70%;              
    margin: 40px auto;           
    padding: 40px;           
 
}

.conclusion div {
    margin-bottom: 20px;
}

/* Menu Header Styling */
.menu-header {
    position: sticky;
    top: 20px;
    width: 360px;
    height: auto;
    background-color: white;
    border: 1px solid #333;
    border-radius: 7px;
    margin: 0 auto;
}

.menu-summary {
    display: flex;
    align-items: center;
    text-align: center;
    height: 40px;
    cursor: pointer;
    justify-content: space-between;
}

.menu-summary .menu-text {
    flex: 1;
    text-align: center;
    font-size: 16px;
    margin-left: -40px;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10px;
    padding: 0 10px;

    margin-right: 10px;
}

.menu-icon .line {
    width: 25px;
    height: 1.5px;
    background-color: #333;
}

.menu-text {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.menu-items {
    list-style: none;
    padding: 10px;
    margin: 0;
    background-color: #FFFFFF;
    border-top: 1px solid #000;
    border-radius: 0 0 7px 7px;
}

.menu-items li {
    padding: 10px 0;
    text-align: center;
    border-bottom: 1px dotted #333;
}

.menu-items li:last-child {
    border-bottom: none;
}

.menu-items li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
    display: block;
}

.menu-items li a:hover {
    color: #007BFF;
}

.left-align p {
    text-align: left;
    margin: 15px 0;
}

.sub-title h3 {
    font-size: 20px;
    font-weight: 500;
    margin: auto;
    text-align: center;
}